body{
    
    background-color: black;
    position: absolute;
    right: 50%;
    

}
div{
    border-radius: 20px;
    background-color:  hsl(0, 0%, 12%);
    width: 370px;
    height: 550px ;

    position: relative;
    top: 100px;
    left: 150px;
    text-align: center;
    

}
img{
   height: 100px;
    width: 100px;
    border-radius: 50px;
    position:relative;
    top: 17px;
}

h1{
   color:  hsl(0, 0%, 100%);
   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#p1{
    color:hsl(75, 94%, 57%);

   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#p2{
    color:rgb(137, 143, 135);
       @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
input{
   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border-radius: 10px;
    width: 300px;
    height: 40px;
    background-color:hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    vertical-align: middle;
    font-weight: 700;
    text-align: center;   
    margin: 5px;
    border: 0;
}
input:hover{
    background-color: hsl(75, 94%, 57%);
    font-weight: 700;

    color: black;
    cursor: grab;
}