/* استيراد الخط يكون في أول الملف */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  background-color: black;
  margin: 0;
  padding: 0;



  /* يخلي المحتوى في النص تمامًا */
  display: flex;
  justify-content: center;
  align-items: center;

  /* يخلي الصفحة بطول الشاشة */
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

div {
  border-radius: 25px;
  box-shadow: 10px 10px 100px hsl(75, 100%, 65%);
  
  background-color: hsl(0, 0%, 12%);
  min-width: none;width: 370px;
  height: 100vh; /* طول الصفحة كلها */
  max-height: 600px; /* حد أقصى للطول عشان الشكل مايبقاش غريب في الشاشات الكبيرة */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
  margin-top: 20px;
}



#p1 {
  color: hsl(75, 94%, 57%);
  font-weight: 500;
    position: relative;
  bottom: 118px;

}

#p2 {
  color: rgb(137, 143, 135);
  font-weight: 400;
  position: relative;
  bottom: 124px;}
#p3{
      color: rgb(137, 143, 135);
  font-weight: 400;
  position: relative;
  bottom: 130px;
}
input {
  border-radius: 10px;
  text-shadow: 5px 5px 8px yellowgreen , -5px -5px 8px yellowgreen ,-5px 5px 8px yellowgreen ,5px -5px 8px yellowgreen ;
  width: 80%;
  height: 45px;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  text-align: center;
  margin: 8px 0;
  border: none;
  transition: 0.3s;
    position: relative;
  bottom: 140px;
}

input:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}


.shadow-dance-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 5px 5px 0  hsl(75, 94%, 57%), 10px 10px 0 #000000;

    animation: shadow-dance 2s infinite;
    position: relative;
    bottom: 77px;
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0  hsl(75, 94%, 57%), 10px 10px 0 #000000;
    }
    50% {
        text-shadow: -5px -5px 0 #000000, -10px -10px 0  hsl(75, 94%, 57%);
    }
}
